<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Suplex.Security.Core" version="1.0.18350" targetFramework="net461" />
  <package id="Suplex.Security.FileSystemDal" version="1.0.18296" targetFramework="net461" />
  <package id="Suplex.Security.Utilities.ActiveDirectory" version="1.0.18353" targetFramework="net461" />
  <package id="Suplex.Security.Utilities.Json" version="1.0.18296" targetFramework="net461" />
  <package id="Suplex.Security.Utilities.Yaml" version="1.0.18296" targetFramework="net461" />
  <package id="Suplex.Security.WebApi.HttpClient" version="1.0.18303" targetFramework="net461" />
  <package id="Synapse.Core.Signed" version="1.0.18350" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="5.2.1" targetFramework="net452" />
</packages>