<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SynapseServiceBehavior" name="Synapse.Services.SynapseNodeServer">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/synapse/node"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address: http://localhost:8000/synapse/node  -->
        <endpoint address="" binding="webHttpBinding" contract="Synapse.Core.Runtime.ISynapseNodeServer" behaviorConfiguration="web"/>
        <!-- this endpoint is exposed at: http://localhost:8000/synapse/node/ws -->
        <endpoint address="ws" binding="wsHttpBinding" contract="Synapse.Core.Runtime.ISynapseNodeServer"/>
        <!-- this endpoint is exposed at: http://localhost:8000/synapse/node/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SynapseServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="SynapseNodeConsole" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{ISO8601}|%-5p|(%t)|%m%n"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="SynapseNodeServer" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Purple, HighIntensity" />
      </mapping>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SynapseNodeConsole"/>
    </root>
  </log4net>
</configuration>